PROBLEM STATEMENT 1

In [1]:
employees = {
    "Ravi": 92,
    "Anita": 88,
    "Kiran": 92,
    "Suresh": 85
}

# Find highest score
highest_score = max(employees.values())

#Find employees with that score
top_performers = []

for name, score in employees.items():
    if score == highest_score:
        top_performers.append(name)

#Display result
print(f"Top Performers Eligible for Bonus: {', '.join(top_performers)} (Score: {highest_score})")

Top Performers Eligible for Bonus: Ravi, Kiran (Score: 92)

PROBLEM STATEMENT 2

In [2]:
import string

query = "Buy mobile phone buy phone online"

# Convert to lowercase
query = query.lower()

#  Remove punctuation
query = query.translate(str.maketrans('', '', string.punctuation))

#  Split into words
words = query.split()

#  Count frequency
frequency = {}

for word in words:
    frequency[word] = frequency.get(word, 0) + 1

# Show words searched more than once
result = {word: count for word, count in frequency.items() if count > 1}

print(result)

{'buy': 2, 'phone': 2}

PROBLEM STATEMENT 3

In [3]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]

valid_readings = []

# Loop through index and value
for hour, value in enumerate(sensor_readings):
    if value % 2 == 0:   # check even number
        valid_readings.append((hour, value))

print("Valid Sensor Readings (Hour, Value):")
print(valid_readings)

Valid Sensor Readings (Hour, Value):
[(1, 4), (3, 8), (4, 10), (5, 12)]

PROBLEM STATEMENT 4

In [4]:
emails = [
    "ravi@gmail.com",
    "anita@yahoo.com",
    "kiran@gmail.com",
    "suresh@gmail.com",
    "meena@yahoo.com"
]

domain_count = {}

# Extract domain & count
for email in emails:
    domain = email.split("@")[1]
    domain_count[domain] = domain_count.get(domain, 0) + 1

# Calculate percentage
total = len(emails)

for domain, count in domain_count.items():
    percentage = (count / total) * 100
    print(f"{domain}: {percentage:.0f}%")

gmail.com: 60%
yahoo.com: 40%

PROBLEM STATEMENT 5

In [8]:
sales = [1200, 1500, 900, 2200, 1400, 3000]

# Calculate average
average = sum(sales) / len(sales)

# Use 25% above average threshold
threshold = average * 1.25

# Detect spike days
for day, value in enumerate(sales, start=1):
    if value > threshold:
        print(f"Day {day}: {value}")

Day 4: 2200
Day 6: 3000

PROBLEM STATEMENT 6

In [9]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]

frequency = {}

# Count occurrences
for user in user_ids:
    frequency[user] = frequency.get(user, 0) + 1

# Print only duplicates
for user, count in frequency.items():
    if count > 1:
        print(f"{user} → {count} times")

user1 → 3 times
user3 → 2 times